## Settings file was created by plugin Stamina Regeneration from Food v1.5.6
## Plugin GUID: org.bepinex.plugins.foodstaminaregen

[1 - General]

## If on, only admins can change the configuration on a server.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Config is locked = On

## If the mod is enabled.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enabled = On

## Can be used to multiply all base regeneration values configured below.
# Setting type: Single
# Default value: 1
Multiplier for all foods = 0.5

[2 - Food]

# Setting type: Single
# Default value: 0.51
Black Soup = 0.51

# Setting type: Single
# Default value: 2.25
Blood Pudding = 2.25

# Setting type: Single
# Default value: 0.75
Blueberries = 0.75

# Setting type: Single
# Default value: 0.69
Boar Jerky = 0.69

# Setting type: Single
# Default value: 2.1
Bread = 2.1

# Setting type: Single
# Default value: 0.96
Carrot = 0.96

# Setting type: Single
# Default value: 1.35
Carrot Soup = 1.35

# Setting type: Single
# Default value: 1.2
Cloudberries = 1.2

# Setting type: Single
# Default value: 0.72
Cooked Asksvin Tail = 0.72

# Setting type: Single
# Default value: 0.9
Cooked Bonemaw Meat = 0.9

# Setting type: Single
# Default value: 0.6
Cooked Seeker Meat = 0.6

# Setting type: Single
# Default value: 0.6
Cooked Chicken Meat = 0.6

# Setting type: Single
# Default value: 0.36
Cooked Deer Meat = 0.36

# Setting type: Single
# Default value: 0.36
Cooked Egg = 0.36

# Setting type: Single
# Default value: 0.6
Cooked Hare Meat = 0.6

# Setting type: Single
# Default value: 0.48
Cooked Lox Meat = 0.48

# Setting type: Single
# Default value: 0.3
Cooked Boar Meat = 0.3

# Setting type: Single
# Default value: 0.72
Cooked Volture Meat = 0.72

# Setting type: Single
# Default value: 0.45
Cooked Wolf Meat = 0.45

# Setting type: Single
# Default value: 0.45
Deer Stew = 0.45

# Setting type: Single
# Default value: 1.95
Eyescream = 1.95

# Setting type: Single
# Default value: 2.25
Ashlands Gourmet Bowl = 2.25

# Setting type: Single
# Default value: 1.05
Black Forest Buffet Platter = 1.05

# Setting type: Single
# Default value: 1.05
Whole Roasted Meadow Boar = 1.05

# Setting type: Single
# Default value: 1.95
Mushrooms Galore á la Mistlands = 1.95

# Setting type: Single
# Default value: 1.35
Hearty Mountain Loggers Stew = 1.35

# Setting type: Single
# Default value: 1.35
Sailors Bounty = 1.35

# Setting type: Single
# Default value: 1.65
Plains Pie Picnic = 1.65

# Setting type: Single
# Default value: 1.05
Swamp Dwellers Delight = 1.05

# Setting type: Single
# Default value: 0.9
Fiddlehead = 0.9

# Setting type: Single
# Default value: 0.96
Fiery Svinstew = 0.96

# Setting type: Single
# Default value: 2.7
Fish n Bread = 2.7

# Setting type: Single
# Default value: 0.45
Cooked Fish = 0.45

# Setting type: Single
# Default value: 0.69
Fish Wraps = 0.69

# Setting type: Single
# Default value: 1.05
Honey = 1.05

# Setting type: Single
# Default value: 0.78
Honey Glazed Chicken = 0.78

# Setting type: Single
# Default value: 0.72
Lox Meat Pie = 0.72

# Setting type: Single
# Default value: 0.36
Stuffed Mushroom = 0.36

# Setting type: Single
# Default value: 0.48
Marinated Greens = 0.48

# Setting type: Single
# Default value: 1.02
Mashed Meat = 1.02

# Setting type: Single
# Default value: 0.78
Meat Platter = 0.78

# Setting type: Single
# Default value: 0.39
Minced Meat Sauce = 0.39

# Setting type: Single
# Default value: 0.84
Misthare Supreme = 0.84

# Setting type: Single
# Default value: 0.45
Mushroom = 0.45

# Setting type: Single
# Default value: 0.6
Blue Mushroom = 0.6

# Setting type: Single
# Default value: 0.75
Jotun Puffs = 0.75

# Setting type: Single
# Default value: 0.75
Magecap = 0.75

# Setting type: Single
# Default value: 2.55
Mushroom Omelette = 2.55

# Setting type: Single
# Default value: 0.45
Smoke Puff = 0.45

# Setting type: Single
# Default value: 0.9
Yellow Mushroom = 0.9

# Setting type: Single
# Default value: 0.24
Grilled Neck Tail = 0.24

# Setting type: Single
# Default value: 1.2
Onion = 1.2

# Setting type: Single
# Default value: 1.8
Onion Soup = 1.8

# Setting type: Single
# Default value: 1.05
Piquant Pie = 1.05

# Setting type: Single
# Default value: 1.2
Queens Jam = 1.2

# Setting type: Single
# Default value: 0.6
Raspberries = 0.6

# Setting type: Single
# Default value: 3
Roasted Crust Pie = 3

# Setting type: Single
# Default value: 0.45
Royal Jelly = 0.45

# Setting type: Single
# Default value: 2.4
Salad = 2.4

# Setting type: Single
# Default value: 0.54
Sausages = 0.54

# Setting type: Single
# Default value: 2.85
Scorching Medley = 2.85

# Setting type: Single
# Default value: 0.42
Seeker Aspic = 0.42

# Setting type: Single
# Default value: 0.69
Cooked Serpent Meat = 0.69

# Setting type: Single
# Default value: 0.78
Serpent Stew = 0.78

# Setting type: Single
# Default value: 1.5
Muckshake = 1.5

# Setting type: Single
# Default value: 0.42
Sizzling Berry Broth = 0.42

# Setting type: Single
# Default value: 0.45
Sparkling Shroomshake = 0.45

# Setting type: Single
# Default value: 2.7
Spicy Marmalade = 2.7

# Setting type: Single
# Default value: 1.65
Turnip Stew = 1.65

# Setting type: Single
# Default value: 0.9
Vineberry Cluster = 0.9

# Setting type: Single
# Default value: 0.9899999
Wolf Jerky = 0.9899999

# Setting type: Single
# Default value: 0.63
Wolf Skewer = 0.63

# Setting type: Single
# Default value: 0.39
Yggdrasil Porridge = 0.39

